/*반응형*/
@media (max-width:$mobileBaseMaxSize) {
  .page-main{
    .title-area{
      .title-main{
        font-size: toRem(62);
        span{
          display: block;
          margin-top: toRem(6);
        }
      }
      .title-sub{
        font-size: toRem(32);
        
      }
    }
  
    .title-partner{
   
      .title-logo{
        
      }
    }
  }
  
  .sect{
    padding: 0 toRem(40);
    padding-top: toRem(46);
    padding-bottom: toRem(66);
    .sect-container{
      width: 100%;
    }
    
  }

  .sect-release, .sect-special{
    padding-left: toRem(8);
    padding-right: toRem(8);
  }


  .partner-list-cont{
    margin-top: toRem(70);
    img{
      width: 100%;
    }
  }

  

  .sect-intro{
    padding: 0;
  }

  .in-info-content{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  // border-bottom: 2px dashed #717171;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-bottom: 3px dashed #c6c6c6;
    transform: scaleY(0.3);
  }
  .in-info-area{
    width: 822px;
    display: grid;
    grid-template-rows: repeat(2, 1ft);
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    &::before{
      content: "";
      grid-row: 1/2;
      grid-column: 3/4;
    }
    input{
      background-color: #ededed;
      border-radius: 10px;
      // padding-top: 20px;
      // padding-bottom: 20px;
      padding-left: 24px;
      height: 50px;
      color: #838383;
      font-size: 18px;
      font-weight: 500;
      &::placeholder{
        columns: #838383;
      }
      
    }
  }
  .btn-quote{
    width: 172px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid $colorMainBlack;
    
    p{
      color: #717171;
    font-size: 26px;
      line-height: 1.2;
    }
    &:hover{
      border: none;
      background-color: $colorMainBlue;
      p{
        color: #fff;
      }
    }
  }
}

  .title-youtube {
    .title-main{
    img{
      width: toRem(280);
    }
  }
  }

  .youtube-contents{
    margin-top: toRem(50);
    border-radius: toRem(20);
    .youtube-area{
      width: 100%;
      
      .youtube-box{
        position: relative;
        padding-top: 56.25%;
        width: 100%;
        //height: 56.25%;
        border-radius: toRem(26);
        .youtube-frame{
    
        }
      }
      
    }
    .youtube-text{
      padding-top: toRem(22);
      font-size: toRem(42);
    }
    
  }

  .page-main{
    .title-partner{
   
      .title-logo{
        margin-right: toRem(25);
        width: toRem(180);
      }
    }
  }
  

  .in-info-content{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 50px;
    // border-bottom: 2px dashed #717171;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3px;
      border-bottom: 3px dashed #c6c6c6;
      transform: scaleY(0.3);
    }
    .in-info-area{
      width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-rows: repeat(1, 1ft);
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
      &::before{
        content: none;
      }
      input{
        border-radius: toRem(10);

        // padding-top: 20px;
        // padding-bottom: 20px;
        padding-left: toRem(24);
        height: toRem(60);
        font-size: toRem(20);
        &::placeholder{
          
        }
        
      }
    }
    .btn-quote{
      margin: 0 auto;
      margin-top: toRem(30);
      width: 90%;
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid $colorMainBlack;
      display: flex;
      justify-content: center;
      padding: toRem(20) 0;
      p{
        color: #717171;
        font-size: toRem(30);
        line-height: 1.2;
        &:last-of-type{
          margin-left: toRem(8);
          
        }
      }
      &:hover{
        border: none;
        background-color: $colorMainBlue;
        p{
          color: #fff;
        }
      }
    }
  }
  
}